.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
}
.trigger:hover {
  color: #1890ff;
}
.header-ul {
  display: flex;
  width: 200px;
}
.header-ul li {
  flex-grow: 1;
  text-align: center;
}
.header-ul > li img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
.menu {
  line-height: 2em;
  padding: 10px;
}
.menu-group li {
  padding: 0 24px;
  line-height: 2em;
}
