.shiji-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  .shiji-box {
    width: 400px;
    height: 200px;
    .content-div {
       text-align: center;
       margin-bottom: 30px;
       font-size: 18px;
    }
  }
}
